<div fxLayout="column" fxLayoutGap="10px" class="container">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <h3>Cocktails</h3>
        <app-filter [form]="form"></app-filter>
    </div>
  
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="10px">
        <mat-card fxFlex="24" fxFLex.lt-md="32" fxFlex.lt-sm="50" *ngFor="let item of drinks" class="card-new">
            <mat-card-header>
                <mat-card-title>{{item.strDrink}}</mat-card-title>
                <mat-card-subtitle>{{item.strCategory}}</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="{{item.strDrinkThumb}}" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>{{item.strInstructions}}</p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>View details</button>
                <button mat-button color="primary">Buy</button>
              </mat-card-actions>
        </mat-card>
    </div>
</div>

<pre>
  {{drinks | json}}
</pre>